Book
{
font-size:16pt
}
Title
{
font-family:arial;
color:lime;
}
Author
{
font-family:arial;
color:magenta
}
Publication,Edition,ISBN,Price
{
display:block;
font-family:arial;
color:blue;
font-size:12pt;
margin-left:20pt
}
